/* ---------------------------------------------------------------------------------------------------

-----Info

Nicole Aitchison
Full Sail SSL 1310

-----Color Swatch

-----Sections

∆ General
∆ Header
∆ Landing
∆ Footer

----------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/

html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 14px Helvetica, sans-serif;
}

h2{
	margin: 0 10px;
}

#main_content{ 
	width: 960px; 
	margin: 20px auto; 
	padding: 0; 
}

.album_block{
	margin: 10px;
	width: 220px;
}

.half_div{
	margin: 10px;
	width: 460px;
	float: left;
}

section{
	margin: 20px 0;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

fieldset{
	border: none;
}

label {
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: 24px;
}

input{
	float: left;
	margin-right: 10px;
}

.form_input{
	clear: both;
	margin: 8px 0;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/

header{ 
	width: 940px; 
	margin: 10px auto; 
	padding: 0 10px; 
}

#logo{
	float: left;
	width: 160px;
	height: 80px;
}

nav{
	margin-top: 20px;
}

nav ul{
	text-transform: uppercase;
	font-size: 18px;
}

nav li{

	width: 188px;
	text-align: center;
}

#form_login{
	width: 392px;
	float: right;
	margin: 18px 0 0;
}

#form_login p{
	text-align: right;
	padding: 10px 0; 
}

#form_login input{
	margin-right: 10px;
}

#form_login input:last-child{
	margin-right: 0;
}

#user_logout{
	float: right;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Landing
---------------------------------------------------------------------------------------------------*/

#banner{
	margin: 10px;
	height: 400px;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Add an album
---------------------------------------------------------------------------------------------------*/

#album_image {
	width: 400px;
	float: left;
	margin-left: 10px;
}

form#create_album {
	width: 500px;
	float: left;
	margin-left: 20px;
}

form#create_album fieldset{
	margin-bottom: 10px;
	background-color: #eee;
	padding: 8px 15px;
}

input#add_album {
	float: right;
}

textarea#album_description{
	clear: both;
	min-height: 140px;
	max-height: 140px;
	min-width: 464px;
	max-width: 464px;
	font: 14px Helvetica;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Footer
---------------------------------------------------------------------------------------------------*/

footer{
	background-color: #d2d1d1;
	text-align: center;
	padding: 40px 0;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Fixes
---------------------------------------------------------------------------------------------------*/

a img { border: 0; }

.clear_fix { clear: both; }




