/* ---------------------------------------------------------------------------------------------------

-----Info

Nicole Aitchison
Full Sail SSL 1310

-----Color Swatch

-----Sections

∆ General
∆ Header
∆ Landing
∆ Footer

----------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/

html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 14px 'Helvetica Neue', sans-serif;
}

h2{
	font-size: 24px;
}

#main_content{ 
	width: 960px; 
	margin: 20px auto; 
	padding: 0; 
}

.album_block{
	margin: 10px;
	width: 220px;
}

.half_div{
	margin: 10px;
	width: 460px;
	float: left;
}

section{
	margin: 20px 0;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

fieldset{
	border: none;
}

label {
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: 28px;
	font-size: 14px;
}

input{
	float: left;
	margin-right: 10px;
	font-size: 14px;
}

input, textarea {
	border-radius: 5px;
	border: none;
	background-color: #f4f4f4;
	padding: 6px;
}

.form_input{
	clear: both;
	margin: 0 0 12px;
}

.custom_button{
	border: none;
	border-radius: 5px;
	background-color: #A30006;
	padding: 8px 12px;
	font: 14px/18px 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: #ddd;
	text-decoration: none;
	margin-left: 10px;
	float: right;
}

.custom_button:hover{
	background-color: #920106;
	color: #520000;
}

a.custom_button{
	padding: 9px;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/

header{
	background-color: #222;
}
#header_container{ 
	width: 940px; 
	margin: auto; 
	padding: 10px; 
}

#logo{
	float: left;
	width: 160px;
	height: 60px;
}

nav{
	background-color: #A30006; 
}

#nav_container{ 
	width: 940px; 
	margin: auto; 
	padding: 10px; 
}

nav li{

	/*width: 100px;*/
	margin-right: 35px;
	font: 14px/18px 'Helvetica Neue', sans-serif;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*background-color: #D2D1D1;*/
}

nav li a{
	color: #ddd;
	text-decoration: none;
}

nav li a:hover{
	color: #520000;
}

#form_login{
	width: 505px;
	float: right;
	margin: 4px 0 0;
}

#form_login fieldset{
	float: right;
}

#form_login input.custom_button, #user_logout a.custom_button{
	padding: 5px 12px;
	margin-left: 0;
	float: none;
	width: 60px;
	font-size: 12px;
}

#form_login p, #user_logout{
	text-align: right;
	padding: 0 0 10px; 
	color: #ddd;
	font-size: 12px;
}

#form_login a{
	color: #A30006;
	text-decoration: none;
}

#form_login a:hover{
	text-decoration: underline;
}

#form_login input{
	margin-right: 10px;
	width: 135px;
	font-size: 10px;
}

#form_login input[type=text], #form_login input[type=password]{
	background-color: #ddd;
}

#form_login input:last-child{
	margin-right: 0;
}

#user_logout{
	float: right;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Landing
---------------------------------------------------------------------------------------------------*/

#banner{
	margin: 10px;
	height: 400px;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Admin
---------------------------------------------------------------------------------------------------*/

#page_header{
	margin: 0 10px;
}

/*#page_header a.custom_button{
	float: left;
	margin: 0 10px 0 0;
}*/

h2#page_title{
	float: left;
	font: 24px/32px 'Helvetica Neue', sans-serif;
}

.admin_albums{
	background-color: #e4e4e4;
	border-radius: 5px;
	margin: 15px 10px;
	padding: 20px;
}

.admin_albums p{
	margin-bottom: 8px;
}

.create_new_album{
	margin: 15px 10px;
}

.admin_albums ul li{
	clear: both;
	margin-bottom: 8px;
}

.album_label{
	width: 100px;
	text-align: right;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.album_value{
	float: left;
}

.album_buttons{
	width: 100%;
}

.album_divider{
	height: 1px;
	width: 100%;
	margin: 12px 0;
	clear: both;
	background-color: #666;
}

.album_name_header, .album_artist_header{
	float: left;
}

.album_headers{
	float: left;
	margin-bottom: 6px;
}

.album_name_header{
	font: 22px/24px 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	color: #A30006;
	margin-right: 12px;
}

.album_artist_header{
	font: 18px/26px 'Helvetica Neue', sans-serif;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Create/Update an album
---------------------------------------------------------------------------------------------------*/

#preview_album_image {
	width: 400px;
	float: left;
	margin-left: 10px;
}

input#album_image{
	margin: 0px;
}

form#create_album_form, form#update_album_form {
	width: 520px;
	float: left;
	margin-left: 20px;
}

form#create_album_form fieldset, form#update_album_form fieldset{
	margin-bottom: 10px;
	padding: 10px 15px;
	background-color: #e4e4e4;
	border-radius: 5px;
	
}

input#add_album {
	float: right;
}

textarea#album_description{
	clear: both;
	min-height: 134px;
	max-height: 134px;
	min-width: 475px;
	max-width: 475px;
	font: 14px Helvetica;
}

.hidden_id {
	display: none;
}

input#update_album{
	margin: 0 0 0 10px; 
}

input[type=radio], input[type=checkbox]{
	height: 24px;
}

form#create_album_form fieldset#buttons, form#update_album_form fieldset#buttons{
	background-color: transparent;
	padding-right: 0px;
}

.format_inputs{
	clear: both;
	margin-left: 30px;
}

.format_inputs input{
	clear: both;
	margin-bottom: 10px;
}

.format_inputs select{
	border: none;
	margin-left: 10px;
}

.format_inputs select option{
	padding: 2px 6px;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Footer
---------------------------------------------------------------------------------------------------*/

footer{
	background-color: #222;
	text-align: center;
	padding: 40px 0;
	color: #ccc;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Fixes
---------------------------------------------------------------------------------------------------*/

a img { border: 0; }

.clear_fix { clear: both; }




